In [2]:
import numpy as np
import pandas as pd
import sklearn as sk

In [3]:
#df_omzet = pd.read_csv('..//CleanData.csv')
df_omzet = pd.read_pickle('..//orders.pkl')

In [4]:
df_omzet.head()

,Customer number,DoB,Gender,City,Order number,Order date,Product number,Sub category,Category,Count,...,Reason of return,Rating,Additional,Age at time of purchase,Season,Total price,Age category,2-pack,Difference delivery time,Never delivered
0,1063418,1988-07-25,Woman,Bloemendaal,1251137,2014-12-20,5146308036084,Garden chairs,Garden furniture,1,...,NaN,-1,False,26,Winter,1090.82,Adult,False,0,False
1,1062078,1973-05-31,Man,De Bilt,1658762,2017-11-03,8119187109467,Torches,Garden heating,6,...,NaN,-1,False,44,Autumn,2315.52,Adult,False,0,False
2,1007060,1963-11-25,Man,Doetinchem,106526,2013-06-08,6110364066490,Leaf blowers,Garden reamers,2,...,No reason given,-1,False,49,Summer,347.56,Adult,False,-4,True
3,1063418,1988-07-25,Woman,Bloemendaal,1251137,2014-12-20,8172375031575,Hoes,Garden hand tools,4,...,Article is defect,-1,False,26,Winter,182.56,Adult,False,-6,True
4,1063290,1984-03-31,Woman,Franekeradeel,439149,2015-01-06,8111132296154,Insects and vermin,Control,1,...,NaN,-1,False,30,Winter,114.24,Adult,False,0,False

In [5]:
df_omzet.dtypes

Customer number                      int64
DoB                         datetime64[ns]
Gender                              object
City                                object
Order number                         int64
Order date                  datetime64[ns]
Product number                      object
Sub category                        object
Category                            object
Count                                int64
Price                              float64
Expected delivery time               int64
Actual delivery time                 int64
Reason of return                    object
Rating                               int64
Additional                            bool
Age at time of purchase              int64
Season                              object
Total price                        float64
Age category                        object
2-pack                                bool
Difference delivery time             int64
Never delivered                       bool
dtype: object

In [6]:
df_omzet['RegelOmzet'] = df_omzet['Count'] * df_omzet['Price']
gb = df_omzet.groupby(by=['Customer number', 'Category'])['RegelOmzet'].agg('sum')

In [9]:
df_gb = gb.unstack()

In [10]:
df_gb.fillna(0).head()

Category,Control,Garden decoration,Garden furniture,Garden hand tools,Garden heating,Garden reamers,Gardening tools,Lounge furniture,Other furniture,Pruning,Sun protection,Watering
Customer number,,,,,,,,,,,,
1004532,364.95,2018.42,14145.05,0.00,1727.86,0.00,310.76,3557.53,483.94,1668.33,5880.92,0.00
1004533,3489.64,4203.99,29926.77,0.00,0.00,1532.22,714.75,1428.16,1549.85,2170.50,6890.12,1292.00
1004534,6503.10,3891.57,23045.05,156.80,2818.92,1570.40,323.89,4026.23,4679.28,491.44,5483.02,3340.49
1004535,992.60,3239.41,18341.02,396.99,2760.88,0.00,1114.90,315.37,4412.23,5673.22,4008.78,9960.42
1004536,1422.87,3292.71,12846.72,0.00,3558.20,114.81,398.51,4014.32,540.76,1776.75,3585.30,5827.47

In [12]:
#df_omzet.to_csv('Orders.csv', index=False)